* {
  margin: 0px;
  padding: 0px;
}
body 
{
  font-size: 120%;
  background: #E5F0FF;
  font-family: 'Open Sans', sans-serif;
}
img
{
	object-fit: scale-down;
	width: 100%;
	height: 30%;
}
.obavestenje
{
	text-align: center;
	padding: 10px;
}